# See http://help.github.com/ignore-files/ for more about ignoring files.
dist
*/**/tmp
*/**/out-tsc
*/**/bazel-out
*/**/node_modules
*/**/npm-debug.log
*/**/yarn-error.log
.idea/
.project
.classpath
.vscode
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
.history/*
.DS_Store
Thumbs.db
.devcontainer
venv
.venv
__pycache__
.coverage
coverage.xml
.pytest_cache
htmlcov/
oradata
*.dmp
*.log
*.tar.gz
*.wiki
test.sh
convert.sh
wiki
shpdctl.spec
build
